/* College Lift 
** Authors:
Florida International University
*/

body, html {
	width: 100%;
	height: 100%;
  background: rgba(255,175,75,1);
}
body {
  background: rgba(255,175,75,1);
background: -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -o-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: -ms-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
}
.card {
    padding-top: auto;
    padding-bottom: none;
    box-shadow: none !important; 
}

.card, .list-inset {
  background-color: transparent !important;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
    margin-bottom: 5px;
}

#frontBottom{
	padding-top: 30%;
}

.item a{
  padding: 5px;
}

#social i{
  display: inline;
  font-size: 40px;
  padding: 15px;
  color: white;
}

#social i:hover{
  color:#337ab7;
}

.center-block {
  padding: 30px;
  text-align: center;
}

#DriverMenu{ 
	padding-top: 15%;
}

.container h1 {
	text-align: left;
	font-size: 20px;
}

.card-container.card a{
  font-weight: 600;
    font-size: 15px;
}

.card-container.card {
    max-width: 350px;
    padding-left:40px;
    padding-right: 40px;
}

.card.card-container input{
	padding: 15px;
}

.container{
	text-align: center;
}

.forgot-password{
	text-align: center;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#map {
  width: 100%;
  height: 65vh;
}

.scroll {
  height: 100%;
}

#GetDown{
	padding-top: 15%;
}

.list {
	padding-top: 10%;
}
.pricing-tables {
  padding: 20px;
}
.pricing-tables h1 {
  font-size: 48px;
}
.pricing-tables .plan.first {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px !important;
}
.pricing-tables .plan.last {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pricing-tables .plan.recommended {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pricing-tables .plan.recommended .head {
  /*margin-bottom: 20px;*/
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.pricing-tables.attached .col-sm-4, .pricing-tables.attached .col-md-4, .pricing-tables.attached .col-sm-3, .pricing-tables.attached .col-md-3 {
  padding-left: 0;
}
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; 
    max-width: 80%;
  }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    max-width: 80%;
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 100%; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }